:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #e2e1e1;
    --botao-azul: #04fafa;
    --cor-de-fundo: #0a0a0a;
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}
